:host {
  display: inline-block;
  font: inherit;
  position: relative;
  font: -moz-list;
}

:host(:focus-within) {
  .menu {
    display: inherit;
    
  }
}

:host(:focus-within.active) {
  .menu {
    
    
  }
}

:host(.valid) {
  
  .menu{
    
  }
  
}

:host(.active) {
  //border: 4px solid rgb(21, 255, 0)!important;
}

:host(:not(.active) ) {
  .menu{
    
    display: none !important;
    
  }
  
}


.menu {
  background-color: rgb(245, 243, 243);
  padding: 0.2em;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 0.4em;
  
  position: fixed;
  display: none;
  max-height: 15em;
  overflow-y: auto ;
  overflow-x: hidden;
  position: absolute;
  left: 0px;
  box-shadow: 5px 6px 12px -4px rgba(0, 0, 0, 0.5);
  
}

.light {
  display: none;
}

:host:not(:defined) {
  display: none;
}



::slotted(wh-option) {
  display: block;
  user-select: none;
  padding: 0.4em;
  line-height: 1.1em;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

    
  
}

::slotted(wh-option[selected]) {
  
  
  background-color: rgb(221, 221, 221)!important;
  //color: white;
  
}

::slotted(wh-option:hover) {
  background-color: rgb(201, 201, 201);
  //color:white;
}

input{
  display: block;
  
}
