<!--<div class="layout webcar">
  <div class="banner"></div>
  <div class="menu"></div>
  <div class="panel"></div>
  <div class="body"></div>

</div>

-->
<wh-layout class="webcar">

  <wh-panel id="wh-body" class="body"></wh-panel>
  <wh-panel id="wh-banner" class="banner"></wh-panel>
  <wh-panel id="wh-menu" class="menu">

    <div class="menu-1"></div>
    <div class="menu-2"></div>
    <div class="menu-3"></div>
    <div class="menu-5"></div>
    <div class="menu-4"></div>
  </wh-panel>

  <wh-popup id="popup-menu" mode="close"></wh-popup>
  <wh-popup id="popup-tool" mode="close"></wh-popup>
  <span id="main-tool" class="main-tool"></span>

</wh-layout>