<div class="info-form-main unit-conn-{=connected}">

    <div class="unit-conn">
        <div class="true">Unidad Conectada</div>
        <div class="false">Unidad Desconectada</div>
    </div>
    
    <div class="name">{=unitName}</div>

    <div class="row">
        <div>Marca</div>
        <div>{=brand}</div>
    </div>

    <div class="row">
        <div>Modelo</div>
        <div>{=model}</div>
    </div>

    <div class="row">
        <div>Color</div>
        <div>{=color}</div>
    </div>

    <div class="row">
        <div>Matrícula</div>
        <div>{=plate}</div>
    </div>

    <div class="row">
        <div>Fecha</div>
        <div>{=tDate}</div>
    </div>
    <div class="row">
        <div>Hora</div>
        <div>{=tTime}</div>
    </div>
    <div class="row">
        <div>Longitud</div>
        <div>{=longitude}</div>
    </div>
    <div class="row">
        <div>Latitud</div>
        <div>{=latitude}</div>
    </div>
    <div class="row">
        <div>Velocidad</div>
        <div>{=speed}</div>
    </div>
    <div class="row">
        <div>Orientación</div>
        <div>{=heading}</div>
    </div>
    <div class="row">
        <div>Satelites</div>
        <div>{=satellite}</div>
    </div>
    <div class="inputs">
        <div data-detail="inputs" data-input-id="{=inputs.id}" data-input-value="{=inputs.on}">
            <span>{=inputs.name}</span><span data-input-value="{=inputs.value}">{=inputs.value}</span>
        </div>
    </div>
    <div class="outputs">

        <div data-detail="outputs" data-input-id="{=outputs.id}" data-input-value="{=outputs.on}"><span>{=outputs.name}</span><span data-input-value="{=outputs.value}">{=outputs.value}</span></div>

    </div>
    <div class="row">
        <div>último Event</div>
        <div>{=event}</div>
    </div>

    <button onclick="document.querySelector('gt-rapid-command').load({unitId: '{=unitId}', role:'position', index: 0, mode: 1, buttons: ['onSave', 'onSend']})">

        P
    </button>
    <button onclick="document.querySelector('gt-rapid-command').load({unitId: '{=unitId}', role:'output', index: 0, mode: 1, buttons: ['onSave', 'onSend']})">

        O
    </button>
    <button onclick="document.querySelector('gt-rapid-command').load({unitId: '{=unitId}', role:'arming', index: 0, mode: 1, buttons: ['onSave', 'onSend']})">

        A
    </button>
    <button onclick="document.querySelector('gt-rapid-command').load({unitId: '{=unitId}',role:'reboot', index: 0, mode: 1, buttons: ['onSave', 'onSend']})">

        R
    </button>
    <button onclick="document.querySelector('gt-rapid-command').load({unitId: '{=unitId}', role:'callback', index: 0, mode: 1, buttons: ['onSave', 'onSend']})">

        C
    </button>
    <button onclick="document.querySelector('gt-rapid-command').load({unitId: '{=unitId}', command:'100', index: 0, mode: 1, buttons: ['onSave', 'onSend']})">

        PN
    </button>
    <button onclick="document.querySelector('gt-rapid-command').load({unitId: '{=unitId}', command:'100', index: 0, mode: 1, buttons: ['onSave', 'onSend']})">

        DC
    </button>
    <button onclick="document.querySelector('gt-rapid-command').load({unitId: '{=unitId}', command:'100', index: 0, mode: 1, buttons: ['onSave', 'onSend']})">

        »
    </button>
    <label>
    <input type="checkbox">Follow</label>
    <label>
        <input type="checkbox">Visible</label>
</div>
