<div class="info-form-main">
    <div class="name">{=unitName}</div>

    <div class="row">
        <div>Marca</div>
        <div>{=brand}</div>
    </div>

    <div class="row">
        <div>Modelo</div>
        <div>{=model}</div>
    </div>

    <div class="row">
        <div>Color</div>
        <div>{=color}</div>
    </div>

    <div class="row">
        <div>Matrícula</div>
        <div>{=plate}</div>
    </div>

    <div class="row">
        <div>Fecha</div>
        <div>{=tDate}</div>
    </div>
    <div class="row">
        <div>Hora</div>
        <div>{=tTime}</div>
    </div>
    <div class="row">
        <div>Longitud</div>
        <div>{=longitude}</div>
    </div>
    <div class="row">
        <div>Latitud</div>
        <div>{=latitude}</div>
    </div>
    <div class="row">
        <div>Velocidad</div>
        <div>{=speed}</div>
    </div>
    <div class="row">
        <div>Orientación</div>
        <div>{=heading}</div>
    </div>
    <div class="row">
        <div>Satelites</div>
        <div>{=satellite}</div>
    </div>
    <div class="inputs">
        <div data-detail="inputs" data-input-id="{=inputs.id}" data-input-value="{=inputs.on}">
            <span>{=inputs.name}</span><span data-input-value="{=inputs.value}">{=inputs.value}</span>
        </div>
    </div>
    <div class="outputs">

        <div data-detail="outputs" data-input-id="{=outputs.id}" data-input-value="{=outputs.on}"><span>{=outputs.name}</span><span data-input-value="{=outputs.value}">{=outputs.value}</span></div>

    </div>
    <div class="row">
        <div>último Event</div>
        <div>{=event}</div>
    </div>

</div>
